<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rental Contracts</title>
</head>
<body>
<h1>Rental Contracts</h1>
<table>
    <thead>
    <tr>
        <th>Contract ID</th>
        <th>Customer ID</th>
        <th>Car ID</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Price</th>
        <th>Status</th>
    </tr>
    </thead>
    <tbody>
    <th:block th:each="rentalContract : ${rentalContracts}">
        <tr>
            <td th:text="${rentalContract.contractID}"></td>
            <td th:text="${rentalContract.customerID}"></td>
            <td th:text="${rentalContract.carID}"></td>
            <td th:text="${rentalContract.startDate}"></td>
            <td th:text="${rentalContract.endDate}"></td>
            <td th:text="${rentalContract.rentalFee}"></td>
            <td th:text="${rentalContract.status}"></td>
        </tr>
    </th:block>
    </tbody>
</table>
</body>
</html>