<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Landing</title>
    <link rel="stylesheet" href="CSS/Style.css">
    <link rel="stylesheet" href="CSS/Header.css">
</head>
<body>
<div class="header-wrapper">
    <div class="header">
        <div class="homebutton">
            <a href="/">
                <img src="images/BILABONNEMENT_rgb_m2nbaw.svg" alt="Logo" class="logo" style="border: 2px solid #5c6e56;">
            </a>
        </div>
        <div class="dropdowntest">
            <div class="dropdown">
                <button class="dropbtn">Menu</button>
                <div class="dropdown-content">
                    <a href="/skade">Skade</a>
                    <a href="/dash">Dashboard</a>
                    <a href="/organisation">Organisation</a>
                    <a href="/virksomhed">Virksomhed</a>
                    <a href="rentalContracts/createRentalContract">Lejeaftale</a>

                    <!-- Show Admin Dashboard link only for admins -->
                    <div th:if="${user != null and user.role == 'ADMIN'}">
                        <a href="home/adminDashboard">Admin Dashboard</a>
                    </div>
                </div>
            </div>
        </div>
        <form class="search-form" action="/searchErrorPage" method="GET">
            <input type="text" name="query" placeholder="Søg..." class="search-input">
            <button type="submit" class="search-button">🔍</button>
        </form>

        <div class="login">
            <!-- Show login link if the user is not logged in -->
            <div th:if="${user == null}">
                <a href="/login">Log ind</a>
            </div>

            <!-- Show logged-in user's name and logout option if the user is logged in -->
            <div th:if="${user != null}">
                <p>Welcome, <span th:text="${user.username}"></span>!</p>
                <p th:text="'User role: ' + ${user.role}"></p> <!-- Display User Role -->
                <a href="/logout">Log ud</a>
            </div>
        </div>
    </div>
</div>
<div class="banner">
    <img src="images/modeloversigt_banner.png" alt="Banner image">
</div>
<h1>Abonnement på bil</h1>
<p>Herunder ser du en oversigt over vores tilgængelige biler:</p>
<div class="content">
    <div class="card-container">
        <a th:each="car : ${cars}" th:href="@{/rentalContracts/createRentalContract(carID=${car.id})}" class="card">
            <div class="card-image">
                <img th:src="${car.imagePath}" th:alt="${car.brand + ' ' + car.model}" class="button-icon">
            </div>
            <div class="card-content">
                <h3 th:text="${car.brand} + ' ' + ${car.model}"></h3>
                <p th:text="'Abonnement fra ' + ${car.pricePrMonth} + ' kr./md'"></p>
                <p>Ink. forsikring, grøn ejerafgift, service</p>
                <p th:text="'Status: ' + ${car.status}"></p>
            </div>
        </a>
    </div>
</div>
</body>
</html>