<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<h1>Login</h1>
<form action="/auth/login" method="POST">
    <label for="username">Username:</label><br>
    <input type="text" id="username" name="username" required><br>
    <label for="password">Password:</label><br>
    <input type="password" id="password" name="password" required><br><br>
    <input type="submit" value="Submit">
</form>
<div style="color: red;">
    <p th:if="${error}" th:text="${error}"></p>
</div>
<a href="/">Gå tilbage</a>
</body>

</html>