<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Skade</title>
    <link rel="stylesheet" href="Style.css">
    <link rel="stylesheet" href="Header.css">
</head>
<body>
<div class="header-wrapper">
    <div class="header" style="background-color: lightskyblue">
        <div class="homebutton">
            <a href="/">
                <img src="images/logo.webp" alt="Logo" class="logo" style="border: 2px solid #5c6e56;">
            </a>
        </div>
        <div class="dropdowntest">
            <div class="dropdown">
                <button class="dropbtn">Menu</button>
                <div class="dropdown-content">
                    <a href="/skade">Skade</a>
                    <a href="/forbruger">Begræns madspild i hjemmet</a>
                    <a href="/organisation">Organisation</a>
                    <a href="/virksomhed">Virksomhed</a>
                    <a href="#footer-wrap">Bliv aktiv</a>
                </div>
            </div>
        </div>
        <form class="search-form" action="/searchErrorPage" method="GET">
            <input type="text" name="query" placeholder="Søg..." class="search-input">
            <button type="submit" class="search-button">🔍</button>
        </form>
    </div>
</div>
<div class="banner">
    <img src="images/reparation.jpg" alt="Banner image">
</div>
<h1>Skadesrapportering</h1>
<p>Indtast informationer til skadesrapport i formularen nedenfor</p>
<div class="content">
    <div class="damage-card">
        <h2>Skaderegistrering</h2>
        <form id="damageform" action="submit-damage-report" method="post">
            <div class="form-group">
                <label for="carID">Vælg bil:</label>
                <select id="damageType" name="damageType" required>
                    <option value="" disabled selected>Vælg en skadetype</option>
                    <option value="1">Lakskade - 1500kr</option>
                    <option value="2">Skadet sidespejl - 3000kr</option>
                    <option value="3">Ridset alufælg - 800kr</option>
                </select>

            </div>
        </form>
    </div>
</div>
</body>
</html>