<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="Style.css">
    <link rel="stylesheet" href="Header.css">
    <title>Skade</title>
</head>
<body>
<div class="header-wrapper">
    <div class="header" style="background-color: lightskyblue">
        <div class="homebutton">
            <a href="/">
                <img src="images/logo.webp" alt="Logo" class="logo" style="border: 2px solid #5c6e56;">
            </a>
        </div>
        <div class="dropdowntest">
            <div class="dropdown">
                <button class="dropbtn">Menu</button>
                <div class="dropdown-content">
                    <a href="/info">Om madspild</a>
                    <a href="/forbruger">Begræns madspild i hjemmet</a>
                    <a href="/organisation">Organisation</a>
                    <a href="/virksomhed">Virksomhed</a>
                    <a href="#footer-wrap">Bliv aktiv</a>
                </div>
            </div>
        </div>
        <form class="search-form" action="/searchErrorPage" method="GET">
            <input type="text" name="query" placeholder="Søg..." class="search-input">
            <button type="submit" class="search-button">🔍</button>
        </form>
    </div>
</div>
<div class="banner">
    <img src="images/reparation.jpg" alt="Banner image">
</div>

</body>
</html>